node_modules
mochawesome-report
mochawesome-report/**
/test/jsdom-fool-bundle.js
/test/jsdom-fool.html
/test/jsdom-fooling.js
/test/mocha-fooling.js
/test/phantom-tests.js
/test/selenium-fooling.js
/test/word-count-fooling.js
experiments/
TestResults/
node_modules_security_vuln/
/package-lock-sec-vuln.json
/Reflection/titaniumbones.md
/package-lock.json
.DS_Store
.DS_Store?
._*
**/.DS_Store
